.btn {
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, opacity 0.2s ease;
  display: inline-block;
  padding: 0.5em 1em;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-primary:hover:not(:disabled) {
  background-color: var(--color-primary-hover);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.btn-secondary:hover:not(:disabled) {
  background-color: var(--color-secondary-hover);
}

.btn-danger {
  background-color: var(--color-danger);
  color: var(--color-white);
}

.btn-danger:hover:not(:disabled) {
  background-color: var(--color-danger-hover);
}

.btn-small {
  font-size: var(--font-size-xs);
  padding: 0.25rem 0.5rem;
}

.btn-medium {
  font-size: var(--font-size-md);
  padding: 0.5rem 1rem;
}

.btn-large {
  font-size: var(--font-size-lg);
  padding: 0.75rem 1.5rem;
}

.btn-flat {
  background-color: transparent;
  padding: 0px 0px;
}

.btn-flat:hover:not(:disabled) {
  background-color: transparent;
}

.btn-flat.btn-primary {
  color: var(--color-primary);
}

.btn-flat.btn-secondary {
  color: var(--color-secondary);
}

.btn-flat.btn-danger {
  color: var(--color-danger);
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
